In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [45]:
filepath = r"C:\Users\Oliver\Desktop\baseball.csv"

In [46]:
df = pd.read_csv(filepath)

### Count should be above 81

In [47]:
df = df[["attendance", "away_team", "away_team_errors", "away_team_runs", "home_team", "home_team_errors", "home_team_runs", "game_type", "venue"]]

In [48]:
df.head()

,attendance,away_team,away_team_errors,away_team_runs,home_team,home_team_errors,home_team_runs,game_type,venue
0,"40,030']",New York Mets,1,3,Kansas City Royals,0,4,"Night Game, on grass",: Kauffman Stadium
1,"21,621']",Philadelphia Phillies,0,2,Cincinnati Reds,0,3,"Night Game, on grass",: Great American Ball Park
2,"12,622']",Minnesota Twins,0,2,Baltimore Orioles,0,4,"Night Game, on grass",: Oriole Park at Camden Yards
3,"18,531']",Washington Nationals,0,3,Atlanta Braves,1,1,"Night Game, on grass",: Turner Field
4,"18,572']",Colorado Rockies,1,4,Arizona Diamondbacks,0,3,"Day Game, on grass",: Chase Field

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463 entries, 0 to 2462
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   attendance        2463 non-null   object
 1   away_team         2463 non-null   object
 2   away_team_errors  2463 non-null   int64
 3   away_team_runs    2463 non-null   int64
 4   home_team         2463 non-null   object
 5   home_team_errors  2463 non-null   int64
 6   home_team_runs    2463 non-null   int64
 7   game_type         2460 non-null   object
 8   venue             2463 non-null   object
dtypes: int64(4), object(5)
memory usage: 173.3+ KB

### Filter Attendance

In [50]:
for index in df.index:
    df["attendance"][index] = str(df["attendance"][index])[0:6]

C:\Users\Oliver\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [51]:
df.head()

,attendance,away_team,away_team_errors,away_team_runs,home_team,home_team_errors,home_team_runs,game_type,venue
0,"40,030",New York Mets,1,3,Kansas City Royals,0,4,"Night Game, on grass",: Kauffman Stadium
1,"21,621",Philadelphia Phillies,0,2,Cincinnati Reds,0,3,"Night Game, on grass",: Great American Ball Park
2,"12,622",Minnesota Twins,0,2,Baltimore Orioles,0,4,"Night Game, on grass",: Oriole Park at Camden Yards
3,"18,531",Washington Nationals,0,3,Atlanta Braves,1,1,"Night Game, on grass",: Turner Field
4,"18,572",Colorado Rockies,1,4,Arizona Diamondbacks,0,3,"Day Game, on grass",: Chase Field

In [52]:
winner = []

for index in df.index:
    if df["away_team_runs"][index] > df["home_team_runs"][index]:
        winner.append(df["away_team"][index])
    else:
        winner.append(df["home_team"][index])
        
df.insert(9, "Winning Team", winner, True)

In [53]:
df = df.sort_values(by=["home_team"])
df = df.reset_index()

In [55]:
df = df.drop(["index"], axis = 1)

In [56]:
df.head()

,attendance,away_team,away_team_errors,away_team_runs,home_team,home_team_errors,home_team_runs,game_type,venue,Winning Team
0,"32,935",Pittsburgh Pirates,1,1,Arizona Diamondbacks,0,7,"Night Game, on grass",: Chase Field,Arizona Diamondbacks
1,"29,370",Milwaukee Brewers,3,15,Arizona Diamondbacks,0,6,"Night Game, on grass",: Chase Field,Milwaukee Brewers
2,"18,933",St. Louis Cardinals,0,0,Arizona Diamondbacks,1,3,"Night Game, on grass",: Chase Field,Arizona Diamondbacks
3,"21,374",Los Angeles Dodgers,0,2,Arizona Diamondbacks,0,3,"Night Game, on grass",: Chase Field,Arizona Diamondbacks
4,"26,159",Los Angeles Dodgers,1,9,Arizona Diamondbacks,0,10,"Day Game, on grass",: Chase Field,Arizona Diamondbacks

In [ ]:
### Organize Columns